/* regole generiche */

*{
    font-family:'Roboto', Trebuchet, sans-serif
}

main{
    padding-top: 60px;
}

/* HEADER */

header{
    background-color:#F8F9FA;
    height: 60px;
}

#position-dropdown{
    position: absolute;
    left: -125px;
}

#logo-mob img{
    max-height: 8%;
    max-width: 8%;
}

.box-container{
    display: flex;
}

.fa-bell{
    color: orange;
}

/* PARTE CENTRALE */

#col-sidenav{
    background-color: #051E34;
    background-image: url('../img/sidebar-bg.png');
    background-size: cover;
    height: calc(100vh - 60px);
    width: 130px;
}

#col-main{
    background-color: #F8F9FA;
    height: calc(100vh - 60px);
    width: calc(100% - 130px);
}

.main-container {
    overflow-y: auto;
    height: 100%;
}

/* topnav */

#topnav {
    width: 100%;
    background-color: #1B72E8;
}

.container span,
.card table th,
.card table td{
    font-size: 13px;
}

.btn-plus{
    padding: 4px 10px;
}

/* sidenav */
#sidenav-container{
    height: 100%;
}

#sidenav-container li a:hover{
    background-color:rgba(192, 208, 203, 0.6);
    color:black;
}

/* cards */

.card tr td{
    cursor: pointer;
}

.card tr{
    border-bottom: 1px solid rgb(212, 203, 203);
}

.card td img{
    width: 20px;
    height: 20px;
}

.card tr:hover td{
    background-color: rgba(0,0,0,0.2)
}

.header{
    font-size: 20px;
}

.btn-card{
    padding: 5px 8px;
    font-size: 10px;
}

/* .card table tr{ */
    /* border-bottom: 1px solid grey; */
    /* margin: 5px; */
/* } */



/* headcrumbs */
.ms-badge-color{
    background-color: #165BBA;
}
/*  */


/* parte responsive */

@media all and (max-width: 767px){

    .hide,
    #logo-lg img,
    .bread-hide{
        display: none;
    }

    header form[role=search]{
        width: 90%;
    }

    #logo-mob img{
        display: inline-block;
    }

    #col-sidenav{
        width: 65px;
    }

    #col-main {
        width: calc(100% - 65px);
    }

}

@media all and (min-width: 768px){

    .hide,
    #logo-lg img {
        display: inline-block;
    }

    #logo-mob img,
    #plus-bread {
        display: none;
    }


}

